
.danhmuc_aside{
    margin-top: 20px;
    
}
.collapse{   
    justify-content: center;
}

.nav-link{
    margin: 10px;
}
.course {
    margin-top: 60px;
    display: flex;
   
}
.card{
    margin-left: 80px;
}


