<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giới thiệu</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/gioithieu.css">
</head>

<body>
  <nav class=" navbar navbar-expand-lg navbar-light bg-light">
    <img src="../img/TANHHIEU.png" style="height: 150px; width: 350px;" alt="">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" style="color: gray" href="#"><b>FPT POLYTECHNIC </b></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: gray" href="#"><i class="bi bi-info-square"></i><b
              style="margin-left: 10px;">Giới thiệu</b> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-chat-dots-fill"></i><b style="margin-left: 10px;">Liên hệ</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-chat-square"></i><b style="margin-left: 10px;">Góp ý</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-envelope"></i><b style="margin-left: 10px;">Hỏi đáp</b></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person"></i><b style="margin-left: 10px;">Tài khoản</b>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Đăng ký</a>
            <a class="dropdown-item" href="#">Đăng nhập </a>
            <a class="dropdown-item" href="#">Quên mật khẩu</a>
            <hr>
            <a class="dropdown-item" href="#">Đăng xuất</a>
            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
            <a class="dropdown-item" href="#">Cập nhật tài khoản</a>

          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="margin-top: 30px;">
    <div class="">
      <article class="col m-auto" style="padding: 0 0;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../img/slide2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/slide3.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/slide4.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </article>
    </div>

    <div style="margin-top: 40px;">
      <article class="gioithieu col m-auto">
        <h4 style="margin-top: 10px;">Giới thiệu hệ thống thi trắc nghiệm AZtest</h4>
        <div class="icon">
          <button type="button" class="btn btn-outline-primary">Thích<span style="margin-left: 5px;"
              class="badge badge-pill badge-primary">0</span></button>
          <button type="button" class="btn btn-outline-secondary">Chia sẻ<span style="margin-left: 5px;"
              class="bi bi-share"></span></button>
          <button type="button" class="btn btn-outline-success">Facebook<span style="margin-left: 5px;"
              class="bi bi-facebook"></span></button>
        </div>
        <div class="anhgioithieu">
          <img src="../img/anhgioithieu.jpg" alt="">
        </div>
        <h4>AZtest là gì?</h4>
        <p>AZtest là phần mềm thi trắc nghiệm trực tuyến dành cho các cá nhân, tổ chức có nhu cầu tổ chức thi và kiểm
          tra
          trắc nghiệm trực tuyến cho các thí sinh của mình. Với AZtest, người dùng có thể dễ dàng tạo lập một website ôn
          luyện, thi trắc nghiệm trực tuyến miễn phí, mà không cần quan tâm đến các vấn đề kỹ thuật. Mỗi website có thể
          cá
          nhân hóa tối đa cho người làm chủ, có thể sử dụng tên miền riêng, giao diện, logo riêng,
          ... giúp chủ nhân website có thể nhanh chóng tạo ra thương hiệu riêng.</p>

        <p style="font-size: 20px;">Các tính năng nổi bật của phần mềm thi trắc nghiệm AZtest:</p>
        <ul>
          <li>Số lượng câu hỏi không giới hạn: Hỗ trợ người dùng tạo đề thi trắc nghiệm online với số lượng câu hỏi
            KHÔNG
            GIỚI HẠN.</li>
          <li>Tạo đề từ file Word/ Excel: Hỗ trợ import đề từ file word, file Excel theo file định dạng sẵn. Đặc biệt,
            phần mềm thi trắc nghiệm AZtest có khả năng import được các định dạng có sẵn ở file Word như in đậm, gạch
            chân, căn lề,.. vào đề thi.</li>
          <li>Xem lại lịch sử thi của học sinh: Phần mềm có lưu lại lịch sử thi của thí sinh sau khi làm bài, người quản
            trị hoàn toàn có thể dễ dàng tra cứu </li>
          <li>Thiết lập đề thi theo cấu hình ma trận đề: Mỗi lượt thi, thí sinh sẽ được làm những mã đề thi khác nhau
            theo
            cấu hình mong muốn của người ra đề. Thậm chí các câu hỏi cũng có thể khác nhau theo cấu hình ma trận đã được
            thiết lập từ trước.</li>
          <li>Đếm ngược thời gian, tự động thu bài: Bộ đếm ngược thời gian làm bài, tự động thu bài khi hết giờ.</li>
          <li>Đa dạng các loại câu hỏi: Đa dạng loại câu hỏi từ câu hỏi chỉ bao gồm dạng text hay câu hỏi cả text và
            hình
            ảnh, hình ảnh, video, công thức Toán…</li>
          <li>Xếp loại theo kết quả thi: Hỗ trợ xếp loại tự động theo điểm số của người dự thi.</li>
          <li>Chấm bài tự động: Tính năng chấm bài tự động giúp người dùng tiết kiệm được thời gian, nhân lực.</li>
        </ul>
        <h4>Ai có thể sử dụng AZtest?</h4>
        <p>Phần mềm thi trắc nghiệm AZtest không giới hạn đối tượng sử dụng. Bạn là một cá nhân/trung tâm/ trường
          học/doanh nghiệp có nhu cầu tạo đề thi trắc nghiệm cho người dự thi ôn luyện, hay thi cử, đều có thể sử dụng.
        </p>
        <h4>Làm sao để khởi tạo website tại AZtest?</h4>
        <p>Phần mềm thi trắc nghiệm AZtest do CÔNG TY TNHH PHÁT TRIỂN VÀ DỊCH VỤ NGUỒN MỞ THUẬN ĐỨC (www.tdfoss.vn) phát
          triển hướng đến đối tượng là cá nhân/trung tâm/ trường học/doanh nghiệp có thể thi và ôn luyện trắc nghiệm
          trực
          tuyến một cách dễ dàng, nhanh chóng và khoa học, người dự thi có thể làm bài thi trắc nghiệm trên máy, được
          chấm
          điểm sau khi hoàn thành bài thi</p>
      </article>
    </div>
  </div>
  <footer class="row" style="margin-top: 30px;">
    <div class="footer" style="background: linear-gradient(to right , rgb(0, 0, 0) , rgb(129, 115, 115));width: 100%;">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Trang
                chủ</b></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Liên
                hệ</b></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Hỏi
                đáp</b></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Thông tin
                về
                chúng tôi</b></a></li>
        </ul>
        <p class="text-center text-muted"><b style="color: white;">Văn Nguyễn Thanh Hiếu</b></p>
      </footer>
    </div>
  </footer>


</body>

</html>