<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên hệ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/lienhe.css">
</head>
<body>
    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <img src="../img/TANHHIEU.png" style="height: 150px; width: 350px;" alt="">
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" style="color: gray" href="#"><b>FPT POLYTECHNIC </b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" style="color: gray" href="#"><i class="bi bi-info-square"></i><b style="margin-left: 10px;">Giới thiệu</b> </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="#"><i class="bi bi-chat-dots-fill"></i><b style="margin-left: 10px;">Liên hệ</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-chat-square"></i><b style="margin-left: 10px;">Góp ý</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-envelope"></i><b style="margin-left: 10px;">Hỏi đáp</b></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person"></i><b style="margin-left: 10px;">Tài khoản</b>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Đăng ký</a>
                <a class="dropdown-item" href="#">Đăng nhập </a>
                <a class="dropdown-item" href="#">Quên mật khẩu</a>
                <hr>
                <a class="dropdown-item" href="#">Đăng xuất</a>
                <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                <a class="dropdown-item" href="#">Cập nhật tài khoản</a>
    
              </div>
            </li>
          </ul>
        </div>
      </nav>
    
      <nav style="background: linear-gradient(to right , rgb(40, 208, 226) , rgb(8, 8, 72));text-align: center;height: 150px;"><p style="font-size: 50px; color: rgb(198, 166, 126);">LIÊN HỆ</p></nav>

      <div class="row" >
       <div class="anhuser col-6 " >
        <img  src="https://img.icons8.com/fluency/48/null/guest-male.png"/>
        <div ><p style="text-align: center;">BỘ PHẬN HỖ TRỢ</p></div>
        <h4 style="margin-left: 150px;">PHÒNG QUẢN LÝ</h4>
        <p style="margin-left: 150px;">Bộ phận hỗ trợ về các vấn đề nâng cấp , gia hạn gói dịch vụ</p>
        <p style="margin-left: 150px;"><span style="margin-right: 5px;" class="bi bi-telephone-fill"></span>Điện thoại : 0909102341</p>
        <p style="margin-left: 150px;"><span style="margin-right: 5px;"  class="bi bi-envelope-open-fill"></span>Email : vannguyenthanhhieu03@gmail.com</p>
 
    </div>
      <div class="anhphanhoi col-4" >
        <img src="https://img.icons8.com/hands/86/null/experimental-secured-letter-hands.png"/>     
        <form>
            <div class="form-group">
               <div class="input -group" style="margin-top: 20px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tiêu đề ">
                  </div>
               </div>
               <div class="input -group" style="margin-top: 20px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Họ và tên ">
                  </div>
               </div>
               <div class="input -group" style="margin-top: 20px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email ">
                  </div>
               </div>
               <div class="input -group" style="margin-top: 20px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-inbound-fill"></i></span>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Điện thoại ">
                  </div>
               </div>
               <div class="input -group" style="margin-top: 20px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-house"></i></span>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Địa chỉ ">
                  </div>
               </div>
               <textarea style="margin-top: 20px;" name="" id="" cols="63" rows="7" placeholder="Nội dung cần liên hệ"></textarea>
            
            </div>
            <button type="button" class="btn btn-outline-secondary" style="margin-left: 150px;">Gửi</button>
            <button type="button" class="btn btn-outline-danger" style="margin-left: 50px;">Nhập lại</button>


          </form>
          
      </div>
      </div>
      <div class="bando" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1674278611689!5m2!1svi!2s" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <footer class="row" style="margin-top: 30px;">
        <div class="footer"
            style="background: linear-gradient(to right , rgb(0, 0, 0) , rgb(129, 115, 115));width: 100%;">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Trang
                                chủ</b></a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Liên
                                hệ</b></a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Hỏi
                                đáp</b></a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><b style="color: white;">Thông tin
                                về
                                chúng tôi</b></a></li>
                </ul>
                <p class="text-center text-muted"><b style="color: white;">Văn Nguyễn Thanh Hiếu</b></p>
            </footer>
        </div>
    </footer>
</body>
</html>